:root {
  // meta
  --font-family: "JetBrainMono-Bold", sans-serif;
  --content-width: 1170px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --background-color: #f5f5f5;

  // components
}
